<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= name %></title>
</head>
<body>
    <h1>You are on the '<%= name %>' subreddit</h1>
    <h4><%= description %></h4>
    <p>Subcriber: <%= subscribers %></p>

    <hr>

    <% for(let post of posts){ %>
        <article>
            <p> <b> <%= post.title %> </b> - <%= post.author %></p>
            <% if(post.img){ %>
                <img src="<%= post.img %>" alt="">
            <% } %>
        </article>
    <% } %>
    
</body>
</html>